#logo {
    margin: 0;
}

#logo-group img {
    display: block;
    max-height: 39px;
    max-width: 200px;
    width: auto;
    margin: 5px;
}

#main {
    margin-left: 0;
}

.login-lang {
    margin-top: 8px;
}