<div>
  <div class="row search-bar">
    <div class="col-sm-6">
      <form class="form-inline full-search-form"
            [formGroup]="quickFilterForm"
            (submit)="applyGenericFilter()">
        <input type="text"
               class="form-control full-search"
               placeholder="Search for product name, ASIN, SKU"
               formControlName="amalyze.generic"/>
        <button class="btn btn-primary" [disabled]="!quickFilterForm.valid || !genericFilterEnabled">
          Search
        </button>
      </form>
    </div>
    <div class="col-sm-6 buttons">
      <button type="button" class="btn btn-success pull-right" (click)="openFilter()">
        <i class="glyphicon glyphicon-filter"></i>
        Filters
      </button>
      <button type="button" class="btn btn-success pull-right new-campaign">
        <i class="glyphicon glyphicon-plus"></i>
        New product
      </button>
    </div>
  </div>

  <div class="well" *ngIf="showFilter">
    <form class="form-horizontal filter-form" [formGroup]="productFilterForm" (submit)="applyFilter()">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="asin" class="col-sm-3 control-label">ASIN</label>
            <div class="col-sm-8">
              <tag-input id="asin"
                         placeholder="+ asin"
                         secondaryPlaceholder="Enter a ASIN and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="asins">
              </tag-input>
            </div>
          </div>
          <div class="form-group">
            <label for="upc" class="col-sm-3 control-label">UPC</label>
            <div class="col-sm-8">
              <tag-input id="upc"
                         placeholder="+ asin"
                         secondaryPlaceholder="Enter a UPC and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="upcs">
              </tag-input>
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Title</label>
            <div class="col-sm-8">
              <input class="form-control" id="title" formControlName="title">
            </div>
          </div>
          <div class="form-group">
            <label for="brand" class="col-sm-3 control-label">Brand</label>
            <div class="col-sm-8">
              <tag-input id="brand"
                         placeholder="+ brand"
                         secondaryPlaceholder="Enter a Brand and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="brands">
              </tag-input>
            </div>
          </div>
          <div class="form-group">
            <label for="seller" class="col-sm-3 control-label">Seller</label>
            <div class="col-sm-8">
              <tag-input id="seller"
                         placeholder="+ seller"
                         secondaryPlaceholder="Enter a Seller and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="merchants">
              </tag-input>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="available" class="col-sm-3 control-label">Available</label>
            <div class="col-sm-8">
              <select class="form-control" id="available" formControlName="available">
                <option value=""></option>
                <option value="true">true</option>
                <option value="false">false</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="marketplace" class="col-sm-3 control-label">Marketplace</label>
            <div class="col-sm-8">
              <select class="form-control" id="marketplace" formControlName="marketplace">
                <option *ngFor="let marketplace of marketplaces">{{marketplace.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="category" class="col-sm-3 control-label">Category</label>
            <div class="col-sm-8">
              <tag-input id="category"
                         placeholder="+ category"
                         secondaryPlaceholder="Enter a Category and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="categories">
              </tag-input>
            </div>
          </div>
          <div class="form-group">
            <label for="prime" class="col-sm-3 control-label">Prime</label>
            <div class="col-sm-8">
              <select class="form-control" id="prime" formControlName="prime">
                <option value=""></option>
                <option value="true">true</option>
                <option value="false">false</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="sponsor" class="col-sm-3 control-label">Sponsored Products</label>
            <div class="col-sm-8">
              <select class="form-control" id="sponsor" formControlName="advertising.spa">
                <option value=""></option>
                <option value="true">true</option>
                <option value="false">false</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="buybox" class="col-sm-3 control-label">Buybox</label>
            <div class="col-sm-8">
              <select class="form-control" id="buybox" formControlName="buybox">
                <option value=""></option>
                <option value="true">true</option>
                <option value="false">false</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-sm-3 control-label">Type</label>
            <div class="col-sm-8">
              <select class="form-control" id="type" formControlName="type">
                <option value=""></option>
                <option value="child">child</option>
                <option value="parent">parent</option>
                <option value="standalone">standalone</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div formGroupName="competitors" class="form-group" 
            [ngClass]="{'has-error':!productFilterForm.controls.competitors.valid && productFilterForm.controls.competitors.touched}">
            <label class="col-sm-3 control-label">Competitors</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6 needMinus">
                  <input type="number"
                         min="1" max="999999"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="min"
                         (blur)="validateRangeValue(productFilterForm.controls.competitors)">

                  <span *ngIf="productFilterForm.controls.competitors.controls.min.errors &&
                               productFilterForm.controls.competitors.controls.min.errors.required &&
                               productFilterForm.controls.competitors.controls.min.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.competitors.controls.min.errors &&
                               productFilterForm.controls.competitors.controls.min.errors.invalid &&
                               productFilterForm.controls.competitors.controls.min.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
                <div class="col-sm-6">
                  <input type="number"
                         min="1" max="999999"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="max"
                         (blur)="validateRangeValue(productFilterForm.controls.competitors)">

                  <span *ngIf="productFilterForm.controls.competitors.controls.max.errors &&
                               productFilterForm.controls.competitors.controls.max.errors.required &&
                               productFilterForm.controls.competitors.controls.max.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.competitors.controls.max.errors &&
                               productFilterForm.controls.competitors.controls.max.errors.invalid &&
                               productFilterForm.controls.competitors.controls.max.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div formGroupName="competitors_prime" class="form-group" 
            [ngClass]="{'has-error':!productFilterForm.controls.competitors_prime.valid && productFilterForm.controls.competitors_prime.touched}">
            <label class="col-sm-3 control-label">Competitors offering Prime</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6 needMinus">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="min"
                         (blur)="validateRangeValue(productFilterForm.controls.competitors_prime)">

                  <span *ngIf="productFilterForm.controls.competitors_prime.controls.min.errors &&
                               productFilterForm.controls.competitors_prime.controls.min.errors.required &&
                               productFilterForm.controls.competitors_prime.controls.min.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.competitors_prime.controls.min.errors &&
                               productFilterForm.controls.competitors_prime.controls.min.errors.invalid &&
                               productFilterForm.controls.competitors_prime.controls.min.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
                <div class="col-sm-6">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="max"
                         (blur)="validateRangeValue(productFilterForm.controls.competitors_prime)">

                  <span *ngIf="productFilterForm.controls.competitors_prime.controls.max.errors &&
                               productFilterForm.controls.competitors_prime.controls.max.errors.required &&
                               productFilterForm.controls.competitors_prime.controls.max.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.competitors_prime.controls.max.errors &&
                               productFilterForm.controls.competitors_prime.controls.max.errors.invalid &&
                               productFilterForm.controls.competitors_prime.controls.max.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div formGroupName="bsr" class="form-group" 
            [ngClass]="{'has-error':!productFilterForm.controls.bsr.valid && productFilterForm.controls.bsr.touched}">
            <label class="col-sm-3 control-label">BSR</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6 needMinus">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="min"
                         (blur)="validateRangeValue(productFilterForm.controls.bsr)">

                  <span *ngIf="productFilterForm.controls.bsr.controls.min.errors &&
                               productFilterForm.controls.bsr.controls.min.errors.required &&
                               productFilterForm.controls.bsr.controls.min.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.bsr.controls.min.errors &&
                               productFilterForm.controls.bsr.controls.min.errors.invalid &&
                               productFilterForm.controls.bsr.controls.min.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
                <div class="col-sm-6">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="max"
                         (blur)="validateRangeValue(productFilterForm.controls.bsr)">

                  <span *ngIf="productFilterForm.controls.bsr.controls.max.errors &&
                               productFilterForm.controls.bsr.controls.max.errors.required &&
                               productFilterForm.controls.bsr.controls.max.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.bsr.controls.max.errors &&
                               productFilterForm.controls.bsr.controls.max.errors.invalid &&
                               productFilterForm.controls.bsr.controls.max.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div formGroupName="price" class="form-group" 
            [ngClass]="{'has-error':!productFilterForm.controls.price.valid && productFilterForm.controls.price.touched}">
            <label class="col-sm-3 control-label">Price</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6 needMinus">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="min"
                         (blur)="validateRangeValue(productFilterForm.controls.price)">

                  <span *ngIf="productFilterForm.controls.price.controls.min.errors &&
                               productFilterForm.controls.price.controls.min.errors.required &&
                               productFilterForm.controls.price.controls.min.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.price.controls.min.errors &&
                               productFilterForm.controls.price.controls.min.errors.invalid &&
                               productFilterForm.controls.price.controls.min.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
                <div class="col-sm-6">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="max"
                         (blur)="validateRangeValue(productFilterForm.controls.price)">

                  <span *ngIf="productFilterForm.controls.price.controls.max.errors &&
                               productFilterForm.controls.price.controls.max.errors.required &&
                               productFilterForm.controls.price.controls.max.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.price.controls.max.errors &&
                               productFilterForm.controls.price.controls.max.errors.invalid &&
                               productFilterForm.controls.price.controls.max.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div formGroupName="optimization" class="form-group" 
            [ngClass]="{'has-error':!productFilterForm.controls.optimization.valid && productFilterForm.controls.optimization.touched}">
            <label class="col-sm-3 control-label">Optimization</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6 needMinus">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="min"
                         (blur)="validateRangeValue(productFilterForm.controls.optimization)">

                  <span *ngIf="productFilterForm.controls.optimization.controls.min.errors &&
                               productFilterForm.controls.optimization.controls.min.errors.required &&
                               productFilterForm.controls.optimization.controls.min.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.optimization.controls.min.errors &&
                               productFilterForm.controls.optimization.controls.min.errors.invalid &&
                               productFilterForm.controls.optimization.controls.min.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
                <div class="col-sm-6">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="max"
                         (blur)="validateRangeValue(productFilterForm.controls.optimization)">

                  <span *ngIf="productFilterForm.controls.optimization.controls.max.errors &&
                               productFilterForm.controls.optimization.controls.max.errors.required &&
                               productFilterForm.controls.optimization.controls.max.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.optimization.controls.max.errors &&
                               productFilterForm.controls.optimization.controls.max.errors.invalid &&
                               productFilterForm.controls.optimization.controls.max.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div formGroupName="rating" class="form-group" 
            [ngClass]="{'has-error':!productFilterForm.controls.rating.valid && productFilterForm.controls.rating.touched}">
            <label class="col-sm-3 control-label">Rating</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6 needMinus">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="min"
                         (blur)="validateRangeValue(productFilterForm.controls.rating)">

                  <span *ngIf="productFilterForm.controls.rating.controls.min.errors &&
                               productFilterForm.controls.rating.controls.min.errors.required &&
                               productFilterForm.controls.rating.controls.min.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.rating.controls.min.errors &&
                               productFilterForm.controls.rating.controls.min.errors.invalid &&
                               productFilterForm.controls.rating.controls.min.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
                <div class="col-sm-6">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="max"
                         (blur)="validateRangeValue(productFilterForm.controls.rating)">

                  <span *ngIf="productFilterForm.controls.rating.controls.max.errors &&
                               productFilterForm.controls.rating.controls.max.errors.required &&
                               productFilterForm.controls.rating.controls.max.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.rating.controls.max.errors &&
                               productFilterForm.controls.rating.controls.max.errors.invalid &&
                               productFilterForm.controls.rating.controls.max.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div formGroupName="reviews" class="form-group" 
            [ngClass]="{'has-error':!productFilterForm.controls.reviews.valid && productFilterForm.controls.reviews.touched}">
            <label class="col-sm-3 control-label">Reviews</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6 needMinus">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="min"
                         (blur)="validateRangeValue(productFilterForm.controls.review)">

                  <span *ngIf="productFilterForm.controls.reviews.controls.min.errors &&
                               productFilterForm.controls.reviews.controls.min.errors.required &&
                               productFilterForm.controls.reviews.controls.min.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.reviews.controls.min.errors &&
                               productFilterForm.controls.reviews.controls.min.errors.invalid &&
                               productFilterForm.controls.reviews.controls.min.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
                <div class="col-sm-6">
                  <input type="number"
                         class="form-control"
                         [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                         formControlName="max"
                         (blur)="validateRangeValue(productFilterForm.controls.review)">

                  <span *ngIf="productFilterForm.controls.reviews.controls.max.errors &&
                               productFilterForm.controls.reviews.controls.max.errors.required &&
                               productFilterForm.controls.reviews.controls.max.touched" class="help-block">
                    This field is required
                  </span>

                  <span *ngIf="productFilterForm.controls.reviews.controls.max.errors &&
                               productFilterForm.controls.reviews.controls.max.errors.invalid &&
                               productFilterForm.controls.reviews.controls.max.touched" class="help-block">
                    This field is invalid
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary pull-right" [disabled]="productFilterForm.invalid">
        Apply
      </button>
    </form>
  </div>

  <div class="product-list-container">
    <div class="widget-body no-padding">
      <dynamic-datatable [url]="url" [schema]="schema" [filters]="filters" rootField="products"></dynamic-datatable>
    </div>
  </div>
</div>
