<div>
  <div class="row search-bar">
    <div class="col-sm-6">
      <form class="form-inline full-search-form"
            [formGroup]="quickFilterForm"
            (submit)="applyGenericFilter()">
        <input type="text"
               class="form-control full-search"
               placeholder="Search for product name, ASIN, SKU"
               formControlName="amalyze.generic"/>
        <button class="btn btn-primary" [disabled]="!quickFilterForm.valid || !genericFilterEnabled">
          Search
        </button>
      </form>
    </div>
    <div class="col-sm-6 buttons">
      <button type="button" class="btn btn-success pull-right" (click)="openFilter()">
        <i class="glyphicon glyphicon-filter"></i>
        Filters
      </button>
      <button type="button" class="btn btn-success pull-right new-campaign">
        <i class="glyphicon glyphicon-plus"></i>
        New product
      </button>
    </div>
  </div>

  <div class="well" *ngIf="showFilter">
    <form class="form-horizontal filter-form" [formGroup]="productFilterForm" (submit)="applyFilter()">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="asin" class="col-sm-3 control-label">ASIN</label>
            <div class="col-sm-8">
              <tag-input id="asin"
                         placeholder="+ asin"
                         secondaryPlaceholder="Enter a ASIN and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="asins">
              </tag-input>
            </div>
          </div>
          <div class="form-group">
            <label for="upc" class="col-sm-3 control-label">UPC</label>
            <div class="col-sm-8">
              <tag-input id="upc"
                         placeholder="+ asin"
                         secondaryPlaceholder="Enter a UPC and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="upcs">
              </tag-input>
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Title</label>
            <div class="col-sm-8">
              <input class="form-control" id="title" formControlName="title">
            </div>
          </div>
          <div class="form-group">
            <label for="brand" class="col-sm-3 control-label">Brand</label>
            <div class="col-sm-8">
              <tag-input id="brand"
                         placeholder="+ brand"
                         secondaryPlaceholder="Enter a Brand and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="brands">
              </tag-input>
            </div>
          </div>
          <div class="form-group">
            <label for="seller" class="col-sm-3 control-label">Seller</label>
            <div class="col-sm-8">
              <tag-input id="seller"
                         placeholder="+ seller"
                         secondaryPlaceholder="Enter a Seller and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="merchants">
              </tag-input>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="available" class="col-sm-3 control-label">Available</label>
            <div class="col-sm-8">
              <select class="form-control" id="available" formControlName="available">
                <option value="true">true</option>
                <option value="false">false</option>
                <option value="empty">empty</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="marketplace" class="col-sm-3 control-label">Marketplace</label>
            <div class="col-sm-8">
              <select class="form-control" id="marketplace" formControlName="marketplace">
                <option *ngFor="let marketplace of marketplaces">{{marketplace.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="category" class="col-sm-3 control-label">Category</label>
            <div class="col-sm-8">
              <tag-input id="category"
                         placeholder="+ category"
                         secondaryPlaceholder="Enter a Category and press Enter"
                         inputClass="form-control"
                         allowDupes="false"
                         addOnBlur="true"
                         modelAsStrings="true"
                         (onAdd)="onFilterChanged($event)"
                         (onRemove)="onFilterChanged($event)"
                         formControlName="categories">
              </tag-input>
            </div>
          </div>
          <div class="form-group">
            <label for="prime" class="col-sm-3 control-label">Prime</label>
            <div class="col-sm-8">
              <select class="form-control" id="prime" formControlName="prime">
                <option value="true">true</option>
                <option value="false">false</option>
                <option value="empty">empty</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="sponsor" class="col-sm-3 control-label">Sponsored Products</label>
            <div class="col-sm-8">
              <select class="form-control" id="sponsor" formControlName="advertising.spa">
                <option value="true">true</option>
                <option value="false">false</option>
                <option value="empty">empty</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="buybox" class="col-sm-3 control-label">Buybox</label>
            <div class="col-sm-8">
              <select class="form-control" id="buybox" formControlName="buybox">
                <option value="true">true</option>
                <option value="false">false</option>
                <option value="empty">empty</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-sm-3 control-label">Type</label>
            <div class="col-sm-8">
              <select class="form-control" id="type" formControlName="type">
                <option value="child">child</option>
                <option value="parent">parent</option>
                <option value="standalone">standalone</option>
                <option value="empty">empty</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="col-sm-3 control-label">Competitors</label>
            <div class="col-sm-8">
              <dx-range-slider
                      [min]="this.defaultSliderValue.competitors.min"
                      [max]="this.defaultSliderValue.competitors.max"
                      [(start)]="this.rangeSliderFilterObj.competitors.min"
                      [(end)]="this.rangeSliderFilterObj.competitors.max"
                      [step]="1"
                      [label]="sliderLabel"
                      [tooltip]="sliderToolTipEnabled"
                      (onValueChanged)="onSliderChanged()"
              ></dx-range-slider>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Competitors offering Prime</label>
            <div class="col-sm-8">
              <dx-range-slider
                      [min]="this.defaultSliderValue['competitors.prime'].min"
                      [max]="this.defaultSliderValue['competitors.prime'].max"
                      [(start)]="this.rangeSliderFilterObj['competitors.prime'].min"
                      [(end)]="this.rangeSliderFilterObj['competitors.prime'].max"
                      [step]="1"
                      [label]="sliderLabel"
                      [tooltip]="sliderToolTipEnabled"
                      (onValueChanged)="onSliderChanged()"
              ></dx-range-slider>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">BSR</label>
            <div class="col-sm-8">
              <dx-range-slider
                      [min]="this.defaultSliderValue.bsr.min"
                      [max]="this.defaultSliderValue.bsr.max"
                      [(start)]="this.rangeSliderFilterObj.bsr.min"
                      [(end)]="this.rangeSliderFilterObj.bsr.max"
                      [step]="1"
                      [label]="sliderLabel"
                      [tooltip]="sliderToolTipEnabled"
                      (onValueChanged)="onSliderChanged()"
              ></dx-range-slider>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Price</label>
            <div class="col-sm-8">
              <dx-range-slider
                      [min]="this.defaultSliderValue.price.min"
                      [max]="this.defaultSliderValue.price.max"
                      [(start)]="this.rangeSliderFilterObj.price.min"
                      [(end)]="this.rangeSliderFilterObj.price.max"
                      [step]="1"
                      [label]="sliderLabel"
                      [tooltip]="sliderToolTipEnabled"
                      (onValueChanged)="onSliderChanged()"
              ></dx-range-slider>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Optimization</label>
            <div class="col-sm-8">
              <dx-range-slider
                      [min]="this.defaultSliderValue.optimization.min"
                      [max]="this.defaultSliderValue.optimization.max"
                      [(start)]="this.rangeSliderFilterObj.optimization.min"
                      [(end)]="this.rangeSliderFilterObj.optimization.max"
                      [step]="1"
                      [label]="sliderLabel"
                      [tooltip]="sliderToolTipEnabled"
                      (onValueChanged)="onSliderChanged()"
              ></dx-range-slider>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Rating</label>
            <div class="col-sm-8">
              <dx-range-slider
                      [min]="this.defaultSliderValue.rating.min"
                      [max]="this.defaultSliderValue.rating.max"
                      [(start)]="this.rangeSliderFilterObj.rating.min"
                      [(end)]="this.rangeSliderFilterObj.rating.max"
                      [step]="1"
                      [label]="sliderLabel"
                      [tooltip]="sliderToolTipEnabled"
                      (onValueChanged)="onSliderChanged()"
              ></dx-range-slider>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Reviews</label>
            <div class="col-sm-8">
              <dx-range-slider
                      [min]="this.defaultSliderValue.reviews.min"
                      [max]="this.defaultSliderValue.reviews.max"
                      [(start)]="this.rangeSliderFilterObj.reviews.min"
                      [(end)]="this.rangeSliderFilterObj.reviews.max"
                      [step]="1"
                      [label]="sliderLabel"
                      [tooltip]="sliderToolTipEnabled"
                      (onValueChanged)="onSliderChanged()"
              ></dx-range-slider>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary pull-right">
        Apply
      </button>
    </form>
  </div>

  <div class="product-list-container">
    <div class="widget-body no-padding">
      <dynamic-datatable [url]="url" [schema]="schema" [filters]="filters" rootField="products"></dynamic-datatable>
    </div>
  </div>
</div>
