<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <iframe id="launcher" tabindex="0" class="zEWidget-launcher zEWidget-launcher--active" style="border: none; background: transparent; z-index: 999998; transform: translateZ(0px); position: fixed; opacity: 1; left: 0px; bottom: 0px; width: 139px; height: 47px; margin: 10px 20px;"></iframe>
        </div>

        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                © AMALYZE AG 2015 - 2017 - all rights reserved  - Shield: 0.0.3  - Falcon: 0.0.4
            </div>
        </div>
    </div>
</div>
