.form-bootstrapWizard {
    margin-bottom: 30px;
}

.bootstrapWizard li {
    width: 20%;
}

.well {
    cursor: pointer;
    margin-bottom: 10px;
}

.well.bg-color-teal {
    color: #fff;
}

.well > p {
    margin: 30px 0;
    text-align: center;
}

.well i {
    font-size: 30px;
    margin-right: 6px;
    vertical-align: middle;
}

.well.unavailable {
    opacity: 0.6;
    cursor: auto;
}

.optimization {
    text-align: center;
}

.calculation th {
    text-align: center;
}

.calculation tr td {
    vertical-align: middle;
}

.calculation tr td:first-child {
    text-align: left;
}

.calculation input {
    display: inline-block;
    width: 60px;
}
