<div class="modal-header">
    <h4 class="modal-title pull-left">Add new campaign</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <div class="widget-body">

            <div class="row">
                <form [formGroup]="campaignForm">
                    <div class="col-sm-12">
                        <div class="form-bootstrapWizard clearfix">
                            <ul class="bootstrapWizard">
                                <li *ngFor="let pane of steps; let i = index" [class.active]="activeStep == pane">
                                    <a (click)="setActiveStep(pane)"> <span class="step">
                    <span *ngIf="!pane.checked">{{i + 1}}</span>
                    <i class="fa fa-check" *ngIf="pane.checked"></i>
                  </span> <span class="title">{{pane.title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" [class.active]="activeStep.key == 'step1'">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="well"
                                             (click)="chooseType('sponsored products')"
                                             [ngClass]="{'bg-color-teal': isActiveType('sponsored products')}">
                                            <p>
                                                <i class="fa fa-amazon"></i>
                                                <span class="name">Sponsored Products</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="well"
                                             (click)="chooseType('headline search ads')"
                                             [ngClass]="{'bg-color-teal': isActiveType('headline search ads')}">
                                            <p>
                                                <i class="fa fa-amazon"></i>
                                                <span class="name">Headline Search Ads</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="well"
                                             (click)="chooseType('product display ads')"
                                             [ngClass]="{'bg-color-teal': isActiveType('product display ads')}">
                                            <p>
                                                <i class="fa fa-amazon"></i>
                                                <span class="name">Product display ads</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" [class.active]="activeStep.key == 'step2'">
                                <div class="row">
                                    <div class="col-sm-12 form-horizontal">

                                        <div class="form-group"
                                             [ngClass]="{'has-error':!campaignForm.controls.name.valid &&
                                             campaignForm.controls.name.touched}">

                                            <label for="name" class="col-sm-2 control-label">Campaign name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="name" formControlName="name">

                                                <span [class.hidden]="campaignForm.controls.name.valid ||
                                                !campaignForm.controls.name.touched" class="help-block">
                                                  Campaign name is required
                                                </span>
                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label class="col-sm-2 control-label">Start/end</label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input type="text"
                                                           id="start"
                                                           class="form-control"
                                                           #start="bsDatepicker"
                                                           bsDatepicker
                                                           [bsConfig]="bsConfig"
                                                           formControlName="start" />
                                                    <span class="input-group-btn">
                                                      <button class="btn btn-primary" type="button" (click)="start.toggle()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                      </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input type="text"
                                                           id="end"
                                                           class="form-control"
                                                           #end="bsDatepicker"
                                                           bsDatepicker
                                                           [bsConfig]="bsConfig"
                                                           formControlName="end" />
                                                    <span class="input-group-btn">
                                                      <button class="btn btn-primary" type="button" (click)="end.toggle()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                      </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" [ngClass]="{'has-error':!campaignForm.controls.budget.valid &&
                                             campaignForm.controls.budget.touched}">
                                            <label for="budget" class="col-sm-2 control-label">Daily budget</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="budget" formControlName="budget">

                                                <span [class.hidden]="campaignForm.controls.budget.valid ||
                                                !campaignForm.controls.budget.touched" class="help-block">
                                                   Budget is required
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" [ngClass]="{'has-error':!campaignForm.controls.merchant.valid &&
                                             campaignForm.controls.merchant.touched}">
                                            <label for="merchant" class="col-sm-2 control-label">Merchant</label>
                                            <div class="col-sm-4">
                                                <select id="merchant" class="form-control" formControlName="merchant">
                                                    <option value=""></option>
                                                    <option *ngFor="let merchant of merchants" [value]="merchant.id">
                                                        {{merchant.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <label for="marketplace" class="col-sm-2 control-label">Marketplace</label>
                                            <div class="col-sm-4">
                                                <select id="marketplace" class="form-control" formControlName="marketplace">
                                                    <option value=""></option>
                                                    <option *ngFor="let marketplace of marketplaces" [value]="marketplace.id">
                                                        {{marketplace.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group" [ngClass]="{'has-error':!campaignForm.controls.asin.valid &&
                                             campaignForm.controls.asin.touched}">
                                            <label for="asin" class="col-sm-2 control-label">ASIN</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="asin"
                                                       class="form-control"
                                                       [ngClass]="{'ui-autocomplete-loading': asinValidating}"
                                                       formControlName="asin"
                                                       (blur)="validateAsin()">

                                                <span *ngIf="campaignForm.controls.asin.errors &&
                                                campaignForm.controls.asin.errors.required &&
                                                campaignForm.controls.asin.touched" class="help-block">
                                                  Asin in required
                                                </span>

                                                <span *ngIf="campaignForm.controls.asin.errors &&
                                                campaignForm.controls.asin.errors.invalid &&
                                                campaignForm.controls.asin.touched" class="help-block">
                                                  Asin is invalid
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" [ngClass]="{'has-error':!campaignForm.controls.skus.valid &&
                                             campaignForm.controls.skus.touched}">
                                            <label for="sku" class="col-sm-2 control-label">SKUs</label>
                                            <div class="col-sm-10">
                                                <tag-input id="sku"
                                                           placeholder="+ sku"
                                                           secondaryPlaceholder="Enter a sku and press Enter"
                                                           [inputClass]="getSkuClasses()"
                                                           allowDupes="false"
                                                           addOnBlur="true"
                                                           modelAsStrings="true"
                                                           formControlName="skus"
                                                           (onAdd)="validateSku($event)">
                                                </tag-input>

                                                <span [class.hidden]="campaignForm.controls.skus.valid ||
                                                !campaignForm.controls.skus.touched" class="help-block">
                                                  At least one sku is required
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" [class.active]="activeStep.key == 'step3'">
                                <div class="row" *ngIf="!campaignForm.controls['targeting'].value">
                                    <div class="col-md-4">
                                        <div class="well"
                                             (click)="chooseTarget('keyword based')">
                                            <p>
                                                <i class="fa fa-amazon"></i>
                                                <span class="name">Keyword Based</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="well"
                                             (click)="chooseTarget('competitor based')">
                                            <p>
                                                <i class="fa fa-amazon"></i>
                                                <span class="name">Competitor Based</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="well unavailable">
                                            <p>
                                                <i class="fa fa-amazon"></i>
                                                <span class="name">Category Based</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="campaignForm.controls['targeting'].value === 'keyword based'">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label for="keyword">Add keyword</label>
                                            <input type="text" class="form-control" id="keyword">
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            Add
                                        </button>
                                    </form>
                                    <dynamic-datatable [url]="keywordsUrl"
                                                       [schema]="keywordsSchema"
                                                       [rootField]="keywordsField">
                                    </dynamic-datatable>
                                </div>
                                <div *ngIf="campaignForm.controls['targeting'].value === 'competitor based'">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label for="new_asin">Add ASIN</label>
                                            <input type="text" class="form-control" id="new_asin">
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            Add
                                        </button>
                                    </form>
                                    <dynamic-datatable [url]="competitorsUrl"
                                                       [schema]="competitorsSchema"
                                                       [rootField]="competitorsField"
                                                       [options]="competitorsOptions">
                                    </dynamic-datatable>
                                </div>
                            </div>

                            <div class="tab-pane" [class.active]="activeStep.key == 'step4'">
                                <div class="row" *ngIf="!campaignForm.controls['optimization'].value">
                                    <div class="col-md-4 col-md-offset-2">
                                        <div class="well"
                                             (click)="chooseOptimization('AMALYZE genius')">
                                            <p>
                                                <i class="fa fa-amazon"></i>
                                                <span class="name">AMALYZE genius</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="well unavailable">
                                            <p>
                                                <i class="fa fa-amazon"></i>
                                                <span class="name">Rule based</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="calculation">
                                    <form class="calculation"  [formGroup]="calcForm">
                                        <table class="table optimization" >
                                            <tr>
                                                <th></th>
                                                <th>Default</th>
                                                <th>Rate</th>
                                                <th>Custom</th>
                                            </tr>
                                            <tr>
                                                <td>Selling price</td>
                                                <td>{{calculation.default.price.amount}}</td>
                                                <td></td>
                                                <td>
                                                    <input type="number" formControlName="customSellingPrice" step="0.01">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Amazon sales fee</td>
                                                <td>{{calculation.default.fees.referral.amount}}</td>
                                                <td>
                                                    <input type="number"
                                                           min="0"
                                                           max="100"
                                                           class="form-control"
                                                           formControlName="amazonSalesFeeRate"
                                                           step="1"/>%
                                                </td>
                                                <td>{{customAmazonSalesFee}}</td>
                                            </tr>
                                            <tr>
                                                <td>Amazon variable fee</td>
                                                <td>{{calculation.default.fees.variable.amount}}</td>
                                                <td></td>
                                                <td>
                                                    <input type="number" formControlName="customAmazonVariableFee" step="0.01">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Fee per article</td>
                                                <td>{{calculation.default.fees.peritem.amount}}</td>
                                                <td></td>
                                                <td>
                                                    <input type="number" formControlName="customFeePerArticle" step="0.01">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Fulfillment by Amazon</td>
                                                <td>{{calculation.default.fees.fba.amount}}</td>
                                                <td></td>
                                                <td>
                                                    <input type="number" formControlName="customFba" step="0.01">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Increased FBA fees</td>
                                                <td>-</td>
                                                <td></td>
                                                <td>
                                                    <input type="number" formControlName="increasedFbaFee" step="0.01">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tax</td>
                                                <td>{{calculation.default.tax.amount}}</td>
                                                <td>
                                                    <input type="number" class="form-control" formControlName="taxRate" step="1"/>%
                                                </td>
                                                <td>{{tax}}</td>
                                            </tr>
                                            <tr>
                                                <td>Buying cost</td>
                                                <td>-</td>
                                                <td></td>
                                                <td>
                                                    <input type="number" class="form-control" formControlName="buyingCost" step="0.01"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Other cost</td>
                                                <td>-</td>
                                                <td></td>
                                                <td>
                                                    <input type="number" class="form-control" formControlName="otherCost" step="0.01"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>Gross margin</b></td>
                                                <td></td>
                                                <td></td>
                                                <td><b>{{grossMargin}}</b></td>
                                            </tr>

                                            <tr>
                                                <td>Assumed conversion rate</td>
                                                <td></td>
                                                <td>
                                                    <input type="number" class="form-control" formControlName="conversionRate" step="1"/>%
                                                </td>
                                                <td>Resulting bid {{resultingBid}}</td>
                                            </tr>
                                            <tr>
                                                <td>Lowest bid</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <input type="number" class="form-control" formControlName="lowestBid" step="0.01"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>

                            <div class="tab-pane" [class.active]="activeStep.key == 'step5'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Campaign</h3>
                                        <table class="table">
                                            <tr>
                                                <td>ASIN</td>
                                                <td>{{campaignForm.controls['asin'].value}}</td>
                                            </tr>
                                            <tr>
                                                <td>SKUs</td>
                                                <td>{{campaignForm.controls['skus'].value}}</td>
                                            </tr>
                                            <tr>
                                                <td>Type</td>
                                                <td>{{campaignForm.controls['type'].value}}</td>
                                            </tr>
                                        </table>

                                        <h3>Optimization</h3>
                                        <table class="table">
                                            <tr>
                                                <td>Type</td>
                                                <td>{{campaignForm.controls['skus'].optimization}}</td>
                                            </tr>
                                            <tr>
                                                <td>Selling price</td>
                                                <td>{{calcForm.controls['customSellingPrice'].value}}</td>
                                            </tr>
                                            <tr>
                                                <td>Gross margin</td>
                                                <td>{{grossMargin}}</td>
                                            </tr>
                                            <tr>
                                                <td>Assumed conversion rate</td>
                                                <td>{{calcForm.controls['conversionRate'].value}}</td>
                                            </tr>
                                            <tr>
                                                <td>Resulting CpC</td>
                                                <td>0.30</td>
                                            </tr>
                                            <tr>
                                                <td>Minimum bid</td>
                                                <td>0.10</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-6">
                                        <h3>Targeting</h3>
                                        <table class="table">
                                            <tr>
                                                <td>Targeting</td>
                                                <td>{{campaignForm.controls['targeting'].value}}</td>
                                            </tr>
                                            <!--<tr>-->
                                                <!--<td>Keywords</td>-->
                                                <!--<td>123123</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>Competitors</td>-->
                                                <!--<td>25</td>-->
                                            <!--</tr>-->
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous">
                                                <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0"
                                                   class="btn btn-lg btn-default">
                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                    Back
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a *ngIf="!isLastStep(activeStep)"
                                                   (click)="nextStep()"
                                                   [class.disabled]="!activeStep.valid"
                                                   class="btn btn-lg txt-color-darken">
                                                    Next
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </a>
                                                <a *ngIf="isLastStep(activeStep)"
                                                   (click)="createCampaign()"
                                                   class="btn btn-primary btn-lg">
                                                    Create campaign
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- end widget content -->

    </div>
</div>
<div class="modal-footer"></div>