<div>
  <div class="row actions-panel">
    <div class="col-sm-6">
        <form class="form-inline full-search-form" [formGroup]="searchForm" (submit)="search(searchForm.value)">
            <input type="text"
                   class="form-control full-search"
                   placeholder="Search for campaign name, ASIN, SKU"
                   formControlName="general" />
            <button type="submit" class="btn btn-primary">
                Search
            </button>
        </form>
    </div>
    <div class="col-sm-6 actions">
      <button type="button" class="btn btn-success" (click)="toggleFilter()">
        <i class="glyphicon glyphicon-filter"></i>
        Filter
      </button>
      <button type="button" class="btn btn-success new-campaign" (click)="createCampaign()">
        <i class="glyphicon glyphicon-plus"></i>
        New campaign
      </button>
    </div>
  </div>

  <div class="well" [hidden]="!showFilter">
    {{filterForm.value | json}}
    <form class="form-horizontal filter" [formGroup]="filterForm" (submit)="filter(filterForm.value)">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="start" class="col-sm-2 control-label">Start</label>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text"
                       id="start"
                       class="form-control"
                       #start="bsDatepicker"
                       bsDatepicker
                       [bsConfig]="bsConfig"
                       formControlName="start" />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" (click)="start.toggle()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <label for="end" class="col-sm-2 control-label">End</label>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text"
                       id="end"
                       class="form-control"
                       #end="bsDatepicker"
                       bsDatepicker
                       [bsConfig]="bsConfig"
                       formControlName="end"/>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" (click)="end.toggle()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="progress" class="col-sm-2 control-label">Progress</label>
            <div class="col-sm-10">
              <select class="form-control" id="progress" formControlName="progress">
                <option *ngFor="let item of progress">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
              <select class="form-control" id="type" formControlName="type">
                <option *ngFor="let item of types">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="merchant" class="col-sm-2 control-label">Merchant</label>
            <div class="col-sm-10">
              <select class="form-control" id="merchant" formControlName="merchant">
                <option *ngFor="let merchant of merchants">{{merchant.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="marketplace" class="col-sm-2 control-label">Marketplace</label>
            <div class="col-sm-10">
              <select class="form-control" id="marketplace" formControlName="merchant">
                <option *ngFor="let marketplace of marketplaces">
                  {{marketplace.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="asin" class="col-sm-2 control-label">ASIN</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="asin" formControlName="asin" />
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary pull-right">
        Apply
      </button>
    </form>
  </div>

  <div>
    {{campaigns | json}}
  </div>
</div>
