.actions-panel {
    margin-bottom: 20px;
}

.new-campaign {
    margin-right: 10px;
}

.search-bar {
    margin-bottom: 20px;
}

.filter {
    overflow: hidden;
}

.full-search-form {
    margin-bottom: 10px;
}

.full-search {
    display: inline-block;
    max-width: 300px;
    width: calc(100% - 100px);
    vertical-align: middle;
}

@media (min-width: 768px) {
    .actions button {
        float: right;
    }
}