aside#left-panel {
    background: #fff;
    border-right: 1px solid #b5b5b5;
    overflow: hidden;
}
/*
aside#left-panel nav ul ul {
    background-color: #fff !important;
    border-bottom: 1px solid #f00;
}

aside#left-panel nav > ul > li > a {
    line-height: normal;
    height: 48px;
    padding: 5px 9px !important;
}

aside#left-panel nav > ul > li > a > i.fa {
    font-size: 20px !important;
}

aside#left-panel .menu-item-parent {
    font-size: 12px;
    font-weight: normal;
}

aside#left-panel nav ul li a {
    background: #fff !important;
    color: #4C4C4C !important;
}

aside#left-panel nav>ul>li>a::after {
    content: none !important;
}

aside#left-panel nav ul>li:hover>a {
    color: #fff!important;
    background-color: #2196F3 !important;
    border: none;
}

aside#left-panel nav>ul>li>a .collapse-sign {
    display: none;
}
*/