<aside id="left-panel" style="padding-left: 0; padding-right: 5px;">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>

      <li *ngFor="let item of navigation; let idx=index;" routerLinkActive="active">
        <a [attr.title]="item.name" routerLink="/{{item.route}}" *ngIf="!item.absolute && item.route">
          <i class="fa fa-lg fa-fw" [ngClass]="item.icon"></i>
          <span class="menu-item-parent" [class.hide]="item.items ? false : true">{{item.name | i18n}}</span>
        </a>
        <a [attr.title]="item.name" *ngIf="!item.absolute && !item.route">
          <i class="fa fa-lg fa-fw" [ngClass]="item.icon"></i>
          <span class="menu-item-parent" [class.hide]="item.items ? false : true">{{item.name | i18n}}</span>
        </a>
        <a [attr.title]="item.name" *ngIf="item.absolute" href="{{item.route}}">
          <i class="fa fa-lg fa-fw" [ngClass]="item.icon"></i>
          <span class="menu-item-parent" [class.hide]="item.items ? false : true">{{item.name | i18n}}</span>
        </a>
        <ul *ngIf="item.items">
          <li *ngFor="let subitem of item.items" routerLinkActive="active">
            <a *ngIf="!subitem.absolute && subitem.route" routerLink="/{{subitem.route}}">
              <i class="fa fa-lg fa-fw" [ngClass]="subitem.icon"></i>
              {{subitem.name | i18n}}
            </a>
            <a *ngIf="!subitem.absolute && !subitem.route">
              <i class="fa fa-lg fa-fw" [ngClass]="subitem.icon"></i>
              {{subitem.name | i18n}}
            </a>
            <a *ngIf="subitem.absolute" href="{{subitem.route}}">
              <i class="fa fa-lg fa-fw" [ngClass]="subitem.icon"></i>
              {{subitem.name | i18n}}
            </a>

            <ul *ngIf="subitem.items">
              <li *ngFor="let subsubitem of subitem.items" routerLinkActive="active">
                <a *ngIf="!subsubitem.absolute && subsubitem.route" routerLink="/{{subsubitem.route}}">
                  <i class="fa fa-lg fa-fw" [ngClass]="subsubitem.icon"></i>
                  {{subsubitem.name | i18n}}
                </a>
                <a *ngIf="!subsubitem.absolute && !subsubitem.route">
                  <i class="fa fa-lg fa-fw" [ngClass]="subsubitem.icon"></i>
                  {{subsubitem.name | i18n}}
                </a>
                <a *ngIf="subitem.absolute" href="{{subsubitem.route}}">
                  <i class="fa fa-lg fa-fw" [ngClass]="subsubitem.icon"></i>
                  {{subsubitem.name | i18n}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <sa-minify-menu></sa-minify-menu>

  </nav>


</aside>
