<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>

      <li *ngFor="let item of navigation; let idx=index;" routerLinkActive="active">
        <a [attr.title]="item.name">
          <i class="fa fa-lg fa-fw" [ngClass]="item.icon"></i> <span class="menu-item-parent">{{item.name | i18n}}</span>
        </a>
        <ul *ngIf="item.items">
          <li *ngFor="let subitem of item.items">
            <a href="#">
              <i class="fa fa-lg fa-fw" [ngClass]="subitem.icon"></i>
              {{subitem.name | i18n}}
            </a>

            <ul *ngIf="subitem.items">
              <li *ngFor="let subsubitem of subitem.items">
                <a href="#">
                  <i class="fa fa-lg fa-fw" [ngClass]="subsubitem.icon"></i>
                  {{subsubitem.name | i18n}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
