/* You can add global styles to this file, and also import other style files */

/* #GOOGLE FONT */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");


/*loader in index.html*/

.main-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

/*for notifications*/

#divSmallBoxes .textoFoto {
    line-height: 50px;
}

/*header on auth (login, forgot password etc.) pages*/

#extr-page #header {
    background: #000 !important;
    overflow: visible;
    height: 49px;
    padding: 0 13px 0 0;
}

#extr-page #header .login-lang {
    margin-top: 0;
}

#extr-page #logo-group {
    max-height: 39px;
    width: 220px;
    margin: 0;
}

#extr-page #header #logo {
    margin-top: 0;
}

#extr-page #logo-group img {
    display: block;
    max-height: 39px;
    max-width: 200px;
    width: auto !important;
    margin: 5px;
}

/*zendesk support button*/

.zEWidget-launcher {
    left: 220px !important;
}