<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"><img src="assets/img/logo.png" alt="Amalyze"></span>
    <!-- END LOGO PLACEHOLDER -->

  </div>

  <!-- multiple lang dropdown : find all flags in the flags page -->
  <div class="hidden-xs">
    <sa-language-selector></sa-language-selector>
  </div>
  <!-- end multiple lang -->

  <!-- pulled right: nav area -->
  <div class="pull-right menu">

    <sa-collapse-menu></sa-collapse-menu>

    <div class="btn-header transparent pull-right">
      <span> <a (click)="logout()" title="Sign Out"><i class="fa fa-sign-out"></i></a></span>
    </div>

    <div class="btn-header transparent pull-right activity">
					<span>
						<a href=""><i class="fa fa-globe"></i></a>
						<b class="badge bg-color-red bounceIn animated hidden bounceOut">0</b>
					</span>
    </div>

    <div class="btn-header transparent pull-right hidden-xs text">
      <span class="username">{{userInfo.user.firstname + ' ' + userInfo.user.lastname + ' ('+userInfo.user.entity.company+')'}}</span>
      <span class="customer">{{'CUSTOMER_NO' | i18n}}: {{userInfo.user.entity.id}}</span>
    </div>
  </div>
  <!-- end pulled right: nav area -->

</header>
